.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    color: #000;
}

.checkbox-container input {
    width: 14px;
    height: 14px;
    cursor: pointer;
    accent-color: #010d4a;
}